/* css for portfolio */
html,
body {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
       -moz-box-sizing: inherit;
            box-sizing: inherit;
}
html,
body {
    scroll-behavior: smooth;
    background-color: black;
    font-family: 'Inter', 'Merriweather', sans-serif;
}
html,
body,
header,
footer,
main,
form,
nav,
div {
    display: block;
    width: 100%;
    padding: 0 0;
    border: none;
    margin: 0 0;
}
hr,
ul,
ol,
li,
h1,
h2,
p {
    display: block;
    width: 100%;
    padding: 0 0;
    border: none;
    margin: 0 0;
}
h3,
h4 {
    width: 100%;
    padding: 0 0;
    border: none;
    margin: 0 0;
}
button {
    padding: 0 0;
    border: none;
    margin: 0 0;
    cursor: pointer;
    z-index: 100;
    width: 220px;
    height: 55px;
}
.button-effect {
	position: relative;
	overflow: hidden;
}
.button-effect .circle {
	z-index: 100;
  position: absolute;
  background: #bdae82;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 1;
  animation: scale 1s ease-in;
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}

@keyframes scale {
  to {
	-webkit-transform: translate(-50%, -50%) scale(3);
    transform: translate(-50%, -50%) scale(3);
    opacity: 0;
  }
}
/* THE ROOT VARIABLES */
:root {
	--win-width: 1440px;
	--win-height: auto;
	--max-outer: 1440px;
	--minus-width: calc(var(--win-width) * -1);
	--inner-desk: calc(var(--max-outer) - 40px);
	--inner-tabl: calc(var(--max-outer) - 40px);
	--desk-title: calc(var(--inner-desk) / 2);
	--tabl-title: calc(var(--inner-tabl) / 2);
	--difto-max: calc(var(--max-outer) - 768px); 
	/* recacl form size 768px with ratio 672px (or from size 838px with ratio 602px */
	--difto-min: calc(768px - var(--max-outer)); 
	/* recacl form size 768px with ratio 488px (or from size 838px with ratio 558px */
	--back-color: white;
	--text-color: black;
	--gold-color: #bdae82;
	--gold-black: black;
	--back-hover: white;
	--text-hover: black;
}
/* BODY STYLE IS HERE, WIDTH 100VW, HEIGHT 100VH */
.body {
	position: static;
	overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: black;
    font-family: 'Inter', 'Merriweather', sans-serif;
    display: block;
    max-width: 100vw;
	min-height: 100vh;
    padding: 0 0;
    border: none;
    margin: 0 0;

}
/* WRAPPER STYLE IS HERE, WIDTH 1440PX, HEIGHT 5532PX */
.container {
	position: static;
	overflow-x: hidden;
    max-width: 1440px;
	min-height: 5532px;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: 'Inter', 'Merriweather', sans-serif;
    padding: 0 0;
    border: none;
    margin: 0 auto;
    background-image: url('./assets/img/header-bg.jpg');
    background-size: auto 910px;
    background-origin: border-box;
    background-position: top center;
    background-repeat: no-repeat;
}
/* HEADER STYLE IS HERE, WIDTH 1440PX, HEIGHT 90PX */
.header {
	position: relative;
    max-width: 1440px;
    min-height: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}
.header-logo {
    width: 50px;
    height: 50px;
}
.svg-logo { 
	width: 50px; 
	height: 50px;
    fill: white;
    -webkit-transition: fill 1s;
            transition: fill 1s;
}
.svg-logo:hover {
    fill: #bdae82;
    -webkit-transition: fill 1s;
            transition: fill 1s;
}
/* HEADER-NAV STYLE IS HERE, WIDTH 444PX, HEIGHT 50PX */
.header-nav-desk {
    width: 444px;
    height: 50px;
    margin-left: auto;
	display: block;
}
/* NAV-LIST STYLE IS HERE, WIDTH 444PX, HEIGHT 50PX */
.nav-list-desk {
    width: 444px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
	gap: 30px;
}
.nav-list-desk li {
    flex: 0 0;
    padding: 0;
    margin: 0;
    list-style: none;
}
/* NAV-MOBL STYLE IS START HERE */
.header-nav-mobl {
	z-index: -10;
	display: none;
}
/* LIST-MOBL STYLE IS START HERE */
.nav-list-mobl {
	z-index: -10;
	display: none;
}
.nav-list-mobl li {
    flex: 0 0;
    padding: 0;
    margin: 0;
    list-style: none;
}
.nav-link {
    color: white;
    text-decoration: none;
    -webkit-transition: color 1s;
            transition: color 1s;
}
.nav-link:hover {
    color: #bdae82;
    -webkit-transition: color 1s;
            transition: color 1s;
}
.nav-font {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: white;
}
.header-lang-swch {
    width: 70px;
    height: 50px;
	display: block;
	margin-left: 30px;
}
.header-lang-swch:hover span {
    color: white;
}
.lng-font {
	display: inline-block;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    color: white;
}
.lng-sl {
	color: #bdae82 !important;
	margin-left: 3px;
}
.lng-eng {
    color: white;
}
.lng-eng:hover {
	color: #bdae82 !important;
    cursor: pointer;
}
.lng-rus {
    color: white;
	margin-left: 3px;
}
.lng-rus:hover {
	color: #bdae82 !important;
    cursor: pointer;
}
.lang-select {
    color: #bdae82;
}
/* HEADER THEMES IS HERE */
.header-themes {
	width: 45px;
	height: 45px;
    margin-left: 30px;
}
.themes-light {
	margin: 0;
	padding: 0;
	width: 45px; 
	height: 45px;
	opacity: 1;
    -webkit-transition: opacity 1s;
            transition: opacity 1s;
}
.themes-dark {
	margin: 0;
	padding: 0;
	width: 45px; 
	height: 45px;
	opacity: 1;
    -webkit-transition: opacity 1s;
            transition: opacity 1s;
}
.themes-none {
	display: none;
	opacity: 0;
    -webkit-transition: opacity 1s;
            transition: opacity 1s;
}
.svg-sun { 
	width: 45px; 
	height: 45px;
    fill: white;
    -webkit-transition: fill 1s;
            transition: fill 1s;
}
.svg-sun:hover {
    fill: #bdae82;
	cursor: pointer;
    -webkit-transition: fill 1s;
            transition: fill 1s;
}
.svg-moon { 
	width: 45px; 
	height: 45px;
    fill: white;
    -webkit-transition: fill 1s;
            transition: fill 1s;
}
.svg-moon:hover {
    fill: #bdae82;
	cursor: pointer;
    -webkit-transition: fill 1s;
            transition: fill 1s;
}
.burger-open {
	z-index: -100;
	display: none;
}
.burger-close {
	z-index: -100;
	display: none;
}
.line-first,
.line-second,
.line-third {
	width: 50px;
	height: 4px;
	background: white;
	margin: 9px 0 0 0;
	display: block;
	opacity: 1;

	-webkit-transition: background-color 1s, width 1s, -webkit-transform 1s, opacity 1s;
					transition: background-color 1s, width 1s, transform 1s, opacity 1s;
}
.burger-close .line-first {
	width: 60px;
    background-color: var(--text-color);
	-webkit-transform: rotate(-45deg) translate(-14px, 5px);
			transform: rotate(-45deg) translate(-14px, 5px);
	-webkit-transition: background-color 1s, width 1s, -webkit-transform 1s, opacity 1s;
					transition: background-color 1s, width 1s, transform 1s, opacity 1s;
}
.burger-close .line-second {
	opacity: 0;
    background-color: var(--text-color);
	-webkit-transition: background-color 1s, width 1s, -webkit-transform 1s, opacity 1s;
					transition: background-color 1s, width 1s, transform 1s, opacity 1s;
}
.burger-close .line-third {
	width: 60px;
    background-color: var(--text-color);
	-webkit-transform: rotate(45deg) translate(-14px, -5px);
			transform: rotate(45deg) translate(-14px, -5px);
	-webkit-transition: background-color 1s, width 1s, -webkit-transform 1s, opacity 1s;
					transition: background-color 1s, width 1s, transform 1s, opacity 1s;
}
@media (max-width: 768px) {
	.header-nav-desk {
		z-index: -10;
		display: none;
	}
	.nav-list-desk {
		z-index: -10;
		display: none;
	}
	.header-lang-swch {
		margin-left: auto;
	}
	.burger-open {
		width: 50px;
		height: 50px;
		margin-left: 30px;
		z-index: 200;
		display: block;
	-webkit-transition: border 2s;
			transition: border 2s;
	}
	.burger-open:hover {
		cursor: pointer;
	}
	.burger-close {
		width: 50px;
		height: 50px;
		margin-left: 30px;
		z-index: 200;
		display: block;
	-webkit-transition: border 2s;
			transition: border 2s;
	}
	.burger-close:hover {
		cursor: pointer;
	}
/* NAV-MOBL STYLE IS HERE, WIDTH 620PX, HEIGHT 1024PX */
	.header-nav-mobl {
		width: 620px;
		height: 1024px;
		display: block;
		position: absolute;
		top: 0;
		z-index: 150;
		right: -620px;
        color: var(--text-color);
        background: var(--back-color);
		-webkit-transition: right 1s;
				transition: right 1s;
	}
	.nav-mobl-open {
		width: 620px;
		height: 1024px;
		display: block;
		z-index: 150;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 150;
		-webkit-transition: right 1s;
				transition: right 1s;
	}
/* LIST-MOBL STYLE IS HERE */
	.nav-list-mobl {
		width: 150px;
		height: 429px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		gap: 16px;
		z-index: 175;
		position: relative;
		top: 134px;
		left: 127px;
        color: var(--text-color);
        background: var(--back-color);
	}
	.nav-font {
		font-family: Inter;
		font-style: normal;
		font-weight: normal;
		font-size: 35px;
		line-height: 73px;
        color: var(--text-color);
	}
    .nav-link {
        color: var(--text-color);
    }
}
@media (min-width: 279px) and (max-width: 767px) {
	.header-nav-mobl {
	z-index: 150;
	width: var(--max-outer);
	right: var(--minus-width);
	height: var(--win-height);
		-webkit-transition: right 1s;
				transition: right 1s;
	}
	.nav-mobl-open {
		right: 0;
		z-index: 150;
		-webkit-transition: right 1s;
				transition: right 1s;
	}
}
/* MAIN STYLE IS HERE, WIDTH 1440PX, HEIGHT 5442PX */
.main {
	position: static;
    max-width: 1440px;
	min-height: 5442px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
/* HERO WRAPPER STYLE IS HERE, WIDTH 1440PX, HEIGHT 820PX */
.hero-wrap {
    max-width: 1440px;
    min-height: 820px;
	position: relative;
}
/* HERO SECTION STYLE IS HERE, WIDTH 500PX, HEIGHT 330PX */
.hero-section {
    width: 500px;
    height: 330px;
    position: absolute;
    top: 160px;
    left: 80px;
}
/* HERO TITLE STYLE IS HERE, WIDTH 500PX, HEIGHT 120PX */
.hero-title {
    width: 500px;
    height: 120px;
    margin-bottom: 10px;
}
.hero-title-font {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    color: white;
}
/* HERO PROMO STYLE IS HERE, WIDTH 470PX, HEIGHT 120PX */
.hero-promo {
    width: 470px;
    height: 120px;
    margin-bottom: 25px;
}
.hero-promo-font {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: white;
}
/* HERO BUTTON STYLE IS HERE, WIDTH 220PX, HEIGHT 55PX */
.hero-button {
    width: 220px;
    height: 55px;
}
#button_hire {
    width: 220px;
    height: 55px;
    background-color: #bdae82;
    border: 2px solid #bdae82;
    box-sizing: border-box;
    border-radius: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: black;
    -webkit-transition: background-color 2s, color 1s;
            transition: background-color 2s, color 1s;
}
#button_hire:hover {
	color: var(--text-hover);
	background: var(--back-hover);
    -webkit-transition: background-color 2s, color 1s;
            transition: background-color 2s, color 1s;
}
/* media query for responsive design */
@media (min-width: 769px) and (max-width: 1439px) {
	.container {
	max-width: var(--max-outer);
	min-height: auto;
	/*BACK SIZE 590PX + 30PX = 620PX */
	background-size: auto calc(620px + (var(--difto-max) * 0.4315476));
	background-origin: border-box;
	background-position: calc(-5px + (var(--difto-max) * 0.0074404)) calc(-30px + (var(--difto-max) * 0.0446428));
	background-repeat: no-repeat;
	}
	.header {
	max-width: var(--max-outer);
	min-height: auto;
	padding: 20px calc(64px - (var(--difto-max) * 0.0654761)) 20px calc(60px - (var(--difto-max) * 0.0595238));
	}
	.main {
	max-width: var(--max-outer);
	min-height: auto;
	}
	.hero-wrap {
	max-width: var(--max-outer);
	min-height: calc(500px + (var(--difto-max) * 0.4761904));
	}
	.hero-section {
	width: calc(390px + (var(--difto-max) * 0.16369));
	height: calc(270px + (var(--difto-max) * 0.08928));
	top: calc(78px + (var(--difto-max) * 0.1220238));
    left: calc(60px + (var(--difto-max) * 0.029761));
	}
	.hero-title {
    width: calc(165px + (var(--difto-max) * 0.4985119));
    height: calc(64px + (var(--difto-max) * 0.0833333));
    margin-bottom: calc(20px - (var(--difto-max) * 0.0148809));
	}
	.hero-title-font {
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: calc(32px + (var(--difto-max) * 0.0416666));
    line-height: calc(64px + (var(--difto-max) * 0.0833333));
    color: white;
	}
	.hero-message {
    width: calc(390px + (var(--difto-max) * 0.1190476));
    height: calc(72px + (var(--difto-max) * 0.0714285));
    margin-bottom: calc(60px - (var(--difto-max) * 0.0520833));
	}
	.hero-text-font {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: calc(24.2px + (var(--difto-max) * 0.0235119));
    color: white;
	}
	.hero-button {
    width: 219px;
    height: 54px;
	}
	#button_hire {
    width: 219px;
    height: 54px;
	}
}
/* total container media query */
@media (max-width: 768px) {
	.container {
	max-width: 768px;
	min-height: auto;
	/*BACK SIZE 590PX + 30PX = 620PX */
	background-size: auto 620px;
	background-origin: border-box;
	background-position: -5px -30px;
	background-repeat: no-repeat;
	}
/* header section media query */
	.header {
    max-width: 768px;
	min-height: 90px;
	padding: 20px 64px 20px 60px;
	}
/* MAIN CONTAINER */
	.main {
	max-width: 768px;
	min-height: auto;
	}
/* hero wrapper media query */
	.hero-wrap {
	max-width: 768px;
	min-height: 500px;
	}
/* hero section media query */
	.hero-section {
	width: 390px;
	height: 270px;
	top: 78px;
    left: 60px;
	}
	.hero-title {
    width: 165px;
    height: 64px;
    margin-bottom: 20px;
	}
	.hero-title-font {
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 64px;
    color: white;
	}
	.hero-message {
    width: 390px;
    height: 72px;
    margin-bottom: 60px;
	}
	.hero-text-font {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24.2px;
    color: white;
	}
	.hero-button {
    width: 219px;
    height: 54px;
	}
	#button_hire {
    width: 219px;
    height: 54px;
	}
}
@media (min-width: 279px) and (max-width: 767px) {
	.container {
	max-width: var(--max-outer);
	height: auto;
	background-size: auto calc(650px - (var(--difto-min) * 0.6659836));
	background-origin: border-box;
	background-position: calc(-5px - (var(--difto-min) * 0.0307377)) -30px;
	background-repeat: no-repeat;
	}
	.header {
    max-width: var(--max-outer);
	height: 90px;
	padding: 20px calc(64px - (var(--difto-min) * 0.0535714)) 20px calc(60px - (var(--difto-min) * 0.0409836));
	}
	.main {
	max-width: var(--max-outer);
	height: auto;
	}
	.hero-wrap {
	max-width: var(--max-outer);
	min-height: calc(480px - (var(--difto-min) * 0.4918032));
	}
	.hero-section {
	width: calc(390px - (var(--difto-min) * 0.307377));
	height: 270px;
	top: calc(78px - (var(--difto-min) * 0.1393442));
    left: calc(60px - (var(--difto-min) * 0.0409836));
	}
	.hero-title {
    width: 165px;
    height: 48px;
    margin-bottom: 20px;
	}
	.hero-title-font {
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 48px;
    color: white;
	}
	.hero-message {
    width: calc(390px - (var(--difto-min) * 0.307377));
    height: 72px;
    margin-bottom: 60px;
	}
	.hero-text-font {
    font-size: 16px;
    line-height: 20px;
    color: white;
	}
	.hero-button {
    width: 219px;
    height: 54px;
	}
}
/* START SEMANTIC SECTIONS */
.section-title {
    width: 700px; /* ((1440PX - 40PX) / 2) */
    height: 80px;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    margin-bottom: 60px;
}
.title-line {
    width: 100%;
    height: 2px;
    background: var(--gold-black);
    margin-top: 38px;
}
.title-text {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    top: -40px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    background: var(--back-color);
    color: var(--gold-black);
}
.skills {
    max-width: var(--max-outer);
    min-height: 482px;
    padding: 100px 20px 0px 20px;
    background: var(--back-color);
    color: var(--text-color);
}
.skills-items {
    max-width: var(--inner-desk);
    min-height: 242px;
    display: flex;
    flex-flow: row wrap;
	align-items: center;
    justify-content: space-between;
    gap: 40px;
	padding: 0 0 2px 0;
    background: var(--back-color);
    color: var(--text-color);
}
.skill-item {
    width: 320px;
    height: 240px;
    padding: 0 20px 0px 20px;
}
.img-bottom {
    margin: 0 auto;
    margin-bottom: 50px;
}
.skill-photo {
    width: 62px;
    height: 50px;
    background-image: url('./assets/svg/camera.svg');
    background-size: 62px 50px;
    background-origin: border-box;
    background-position: center center;
    background-repeat: no-repeat;
}
.skill-video {
    width: 60px;
    height: 50px;
    background-image: url('./assets/svg/video.svg');
    background-size: 60px 50px;
    background-origin: border-box;
    background-position: center center;
    background-repeat: no-repeat;
}
.skill-image {
    width: 66px;
    height: 50px;
    background-image: url('./assets/svg/image.svg');
    background-size: 66px 50px;
    background-origin: border-box;
    background-position: center center;
    background-repeat: no-repeat;
}
.skill-audio {
    width: 32px;
    height: 50px;
    background-image: url('./assets/svg/audio.svg');
    background-size: 32px 50px;
    background-origin: border-box;
    background-position: center center;
    background-repeat: no-repeat;
}
.skill-title {
    width: 280px;
    height: 40px;
	margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}
.skill-font {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 40px;
    background: var(--back-color);
    color: var(--text-color);
}
.skill-promo {
    width: 280px;
    height: 72px;
	margin-bottom: 8px;
	text-align: center;
}
.promo-font {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    background: var(--back-color);
    color: var(--text-color);
}
.line-break {
	display: none;
	width: 100%;
	height: 0;
	clear: both;
}
@media (min-width: 769px) and (max-width: 1439px) {
	.skills {
    max-width: var(--max-outer);
    min-height: calc(729px - (var(--difto-max) * 0.3675595));
	padding: 80px 20px 13px 20px;
	}
	.section-title {
	width: var(--desk-title);
	height: 80px;
    margin-bottom: 50px;
	}
	.title-line {
		width: 100%;
		height: 2px;
		background: var(--gold-black);
		margin-top: 38px;
	}
	.title-text {
    padding: 0 20px;
    background: var(--back-color);
    color: var(--gold-black);
	}
	.skills-items {
	max-width: var(--inner-desk);
    min-height: calc(520px - (var(--difto-max) * 0.4136904));
	padding: 9px 4px 2px 0;
	justify-content: space-around;
	gap: 36px;
	}
	.skill-item {
    width: calc(300px + (var(--difto-max) * 0.0297619));
    height: calc(224px + (var(--difto-max) * 0.0238095));
	padding: 0 calc(10px + (var(--difto-max) * 0.0148809)) calc(40px - (var(--difto-max) * 0.047619)) calc(10px + (var(--difto-max) * 0.0148809));
	}
	.line-break {
	display: block;
	}
}
/* профиксить! fix-title! */
@media (max-width: 768px) {
	.skills {
    max-width: 768px;
    min-height: 729px;
	padding: 80px 20px 13px 20px;
	}
	.section-title {
    width: 364px;
	height: 80px;
    margin-bottom: 50px;
	}
	.fix-title {
	margin-bottom: 36px;
	}
	.title-line {
		width: 100%;
		height: 2px;
		background: var(--gold-black);
		margin-top: 38px;
	}
	.title-text {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    top: -20px;
	font-family: Merriweather;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	text-align: center;
    background: var(--back-color);
    color: var(--gold-black);
	}
	.skills-items {
    max-width: 728px;
    min-height: 520px;
	align-items: center;
	padding: 9px 36px 27px 36px;
	justify-content: space-around;
	gap: 36px;
	}
	.skill-item {
    width: 300px;
    height: 224px;
	padding: 0 10px 0px 10px;
	}
	.img-bottom {
    margin: 0 auto;
    margin-bottom: 30px;
	}
	.skill-promo {
    width: 280px;
    height: 44px;
	margin-bottom: 40px;
	}
	.promo-font {
	font-size: 18px;
	line-height: 22px;
	text-align: center;
    background: var(--back-color);
    color: var(--text-color);
	}
}
@media (min-width: 279px) and (max-width: 767px) {
	.skills {
    min-height: 729px;
	padding: 80px 20px 13px 20px;
	}
	.section-title {
    width: var(--desk-title);
	height: 80px;
    margin-bottom: 50px;
	}
	.title-line {
		width: 100%;
		height: 2px;
		background: var(--gold-black);
		margin-top: 38px;
	}
	.title-text {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    top: -15px;
	font-family: Merriweather;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
    background: var(--back-color);
    color: var(--gold-black);
	}
	.skills-items {
	min-height: 520px;
	align-items: center;
	padding: 9px 4px 2px 0;
	justify-content: space-evenly;
	}
	.line-break {
	display: none;
	}
	.skill-item {
    width: calc(300px - (var(--difto-min) * 0.1229508));
    height: calc(224px + (var(--difto-min) * 0.1967213));
	padding: 0 5px calc(40px - (var(--difto-min) * 0.0446428)) 5px;
	}
	.skill-title {
    width: calc(280px - (var(--difto-min) * 0.0819672));
    height: 40px;
	}
	.skill-promo {
	width: calc(280px - (var(--difto-min) * 0.0819672));
	height: 44px;
	}
}
.portfolio {
    max-width: var(--max-outer);
    height: auto;
    padding: 100px 20px 0px 20px;
    background: var(--back-color);
    color: var(--text-color);
}
.portfolio-buttons {
    max-width: 895px;
    min-height: 55px;
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 5px;
}
.button-portf {
    width: 220px;
    height: 55px;
    background-color: var(--back-color);
    border: 2px solid #bdae82;
    box-sizing: border-box;
    border-radius: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #bdae82;
    -webkit-transition: background-color 2s, color 1s;
            transition: background-color 2s, color 1s;
}
.button-portf:hover {
	color: var(--text-hover);
	background-color: var(--back-hover);
    -webkit-transition: background-color 2s, color 1s;
            transition: background-color 2s, color 1s;
}
.active-button {
    background-color: #bdae82;
    border: 2px solid #bdae82;
    box-sizing: border-box;
    border-radius: 0px;
    color: black;
    -webkit-transition: background-color 2s, color 1s;
            transition: background-color 2s, color 1s;
}
.active-button:hover {
	color: var(--text-hover);
	background-color: var(--back-hover);
    -webkit-transition: background-color 2s, color 1s;
            transition: background-color 2s, color 1s;
}
.portfolio-photos {
    max-width: var(--inner-desk);
    height: auto;
    display: flex;
    flex-flow: row wrap;
	align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.portfolio-image {
    width: 450px;
	height: 560px;
}
.image-photo {
    width: 450px;
	height: 560px;
}
@media (min-width: 769px) and (max-width: 1439px) {
.portfolio-buttons {
    max-width: var(--inner-desk);
    min-height: 55px;
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 5px;
}
	.portfolio-photos {
    max-width: var(--inner-desk);
	height: auto;
    display: flex;
    flex-flow: row wrap;
	align-items: center;
    justify-content: space-around;
    gap: 20px;
	}
}
@media (max-width: 768px) {
	.portfolio {
    max-width: 768px;
    height: auto;
    padding: 80px 0 0px 0;
}
	.portfolio-buttons {
    max-width: 445px;
    min-height: 115px;
    margin: 0 auto;
    margin-bottom: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 5px;
	}
	.portfolio-photos {
    max-width: 450px;
	height: auto;
	margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 25px;
	}
}
@media (min-width: 279px) and (max-width: 767px) {
	.portfolio-buttons {
    max-width: 445px;
    min-height: 115px;
    margin: 0 auto;
	margin-bottom: 60px;
    justify-content: space-evenly;
    gap: 5px;
	}
	.portfolio-photos {
    max-width: calc(450px - (var(--difto-min) * 0.3457991));
	height: auto;
	margin: 0 auto;
    justify-content: space-evenly;
    gap: 25px;
	}
	.portfolio-image {
		width: calc(450px - (var(--difto-min) * 0.3457991));
		height: auto;
	}
	.image-photo {
		width: calc(450px - (var(--difto-min) * 0.3457991));
		height: auto;
	}
}
.video {
    max-width: var(--max-outer);
    min-height: 945px;
    padding: 100px 20px 0px 20px;
    background: var(--back-color);
    color: var(--text-color);
}
.player-wrapper {
	position: relative;
    max-width: var(--inner-desk);
    min-height: 705px;
    background: url('./assets/img/bgvideo-fix.jpg');
    background-size: auto 705px;
    background-origin: border-box;
    background-position: center center;
    background-repeat: no-repeat;
	background-color: transparent;
}
.button-block {
    width: 130px;
    height: 130px;
	display: block;
    position: relative;
	text-align: center;
    top: 288px;
    left: 636px;
	background-color: transparent;
	opacity: 1.0;
    padding: 0 0;
    border: none;
    margin: 0 0;
    border-radius: 50%;
	background: none;
}
#button_image {
    width: 130px;
    height: 130px;
	z-index: 100;
    display: inline-block;
    padding: 0 0;
    border: none;
	box-sizing: content-box;
    margin: 0 0;
	background-color: transparent;
	opacity: 1.0;
    border-radius: 50%;
	background: none;
}
#player_button {
    width: 130px;
    height: 130px;
	z-index: 1000;
    display: inline-block;
    background: url('./assets/svg/play-hover.svg');
    background-size: 130px 130px;
    background-origin: border-box;
    background-position: center center;
    background-repeat: no-repeat;
	opacity: 0.5;
	background-color: transparent;
    padding: 0 0;
    border: none;
    margin: 0 0;
    border-radius: 50%;
    -webkit-transition: opacity 1s, background-color 2s, filter 1s, -webkit-transform 2s;
            transition: opacity 1s, background-color 2s, filter 1s, transform 2s;
}
#player_button:hover {
	opacity: 1.0;
	background-color: black;
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: opacity 1s, background-color 2s, filter 1s, -webkit-transform 2s;
            transition: opacity 1s, background-color 2s, filter 1s, transform 2s;
}
/* BUBBLES BUTTONS */
.bubbly-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 5px -5px 25px rgba(255, 255, 255, 0.5);
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before, .bubbly-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
.bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, transparent 20%, white 40%, transparent 30%), radial-gradient(circle, transparent 30%, white 40%, transparent 40%), radial-gradient(circle, transparent 20%, white 40%, transparent 30%), radial-gradient(circle, transparent 20%, white 40%, transparent 30%), radial-gradient(circle, transparent 20%, white 30%, transparent 30%), radial-gradient(circle, transparent 20%, white 40%, transparent 30%), radial-gradient(circle, transparent 20%, white 40%, transparent 30%), radial-gradient(circle, transparent 20%, white 40%, transparent 30%), radial-gradient(circle, transparent 20%, white 40%, transparent 30%);
  background-size: 20% 20%, 40% 40%, 30% 30%, 40% 40%, 36% 36%, 20% 20%, 30% 30%, 20% 20%, 36% 36%;
}
.bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, transparent 20%, white 30%, transparent 30%), radial-gradient(circle, transparent 20%, white 30%, transparent 30%), radial-gradient(circle, transparent 20%, white 20%, transparent 30%), radial-gradient(circle, transparent 20%, white 30%, transparent 30%), radial-gradient(circle, transparent 20%, white 30%, transparent 30%), radial-gradient(circle, transparent 20%, white 30%, transparent 30%), radial-gradient(circle, transparent 20%, white 30%, transparent 30%);
  background-size: 30% 30%, 40% 40%, 36% 36%, 40% 40%, 30% 30%, 36% 36%, 40% 40%;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: transparent;
  box-shadow: 5px -5px 25px rgba(255, 255, 255, 1.0);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
/* BUBBLES BUTTONS */
@media (min-width: 769px) and (max-width: 1439px) { /* recalc ready */
	.video {
    max-width: var(--max-outer);
    min-height: calc(628px + (var(--difto-max) * 0.526578));
    padding: 100px 20px 0px 20px;
	}
	.player-wrapper {
    max-width: var(--inner-desk);
    min-height: calc(456px + (var(--difto-max) * 0.4136212));
    background: url('./assets/img/bgvideo-fix.jpg');
    background-size: auto calc(456px + (var(--difto-max) * 0.4136212));
    background-position: calc(-5px + (var(--difto-max) * 0.0083056)) center;
	}
	.button-block {
    width: calc(75px + (var(--difto-max) * 0.0913621));
    height: calc(75px + (var(--difto-max) * 0.0913621));
    position: relative;
	text-align: center;
    top: calc(191px + (var(--difto-max) * 0.1611295));
    left: calc(382px + (var(--difto-max) * 0.4219269));
	border: none;
	}
	#player_button {
    width: calc(75px + (var(--difto-max) * 0.0913621));
    height: calc(75px + (var(--difto-max) * 0.0913621));
	border: none;
	}
	#button_image {
    width: calc(75px + (var(--difto-max) * 0.0913621));
    height: calc(75px + (var(--difto-max) * 0.0913621));
    background-size: calc(75px + (var(--difto-max) * 0.0913621)) calc(75px + (var(--difto-max) * 0.0913621));
	}
}
@media (max-width: 768px) {
	.video {
    max-width: 768px;
    min-height: 628px;
    padding: 80px 0 0 0;
	}
	.player-wrapper {
    max-width: 768px;
    min-height: 456px;
    background: url('./assets/img/bgvideo-fix.jpg');
    background-size: auto 456px;
    background-position: -5px center;
	}
	.button-block {
    width: 75px;
    height: 75px;
    position: relative;
	text-align: center;
    top: 191px;
    left: 382px;
	border: none;
	}
	#player_button {
    width: 75px;
    height: 75px;
	border: none;
	}
	#button_image {
    width: 75px;
    height: 75px;
    background-size: 75px 75px;
	}
}
@media (min-width: 279px) and (max-width: 767px) { /* recalc ready */
	.video {
    max-width: var(--max-outer);
    min-height: calc(628px - (var(--difto-min) * 0.6434426));
    padding: 80px 0 0 0;
	}
	.player-wrapper {
    max-width: var(--max-outer);
    min-height: calc(456px - (var(--difto-min) * 0.4672131));
    background: url('./assets/img/bgvideo-fix.jpg');
    background-size: auto calc(456px - (var(--difto-min) * 0.4672131));
    background-position: calc(-5px - (var(--difto-max) * 0.0102459)) center;
	}
	.button-block {
    width: calc(75px - (var(--difto-min) * 0.0768442));
    height: calc(75px - (var(--difto-min) * 0.0768442));
    position: relative;
	text-align: center;
    top: calc(191px - (var(--difto-min) * 0.1956967));
    left: calc(382px - (var(--difto-min) * 0.3913934));
	border: none;
	}
	#player_button {
    width: calc(75px - (var(--difto-min) * 0.0768442));
    height: calc(75px - (var(--difto-min) * 0.0768442));
	border: none;
	}
	#button_image {
    width: calc(75px - (var(--difto-min) * 0.0768442));
    height:calc(75px - (var(--difto-min) * 0.0768442));
    background-size: calc(75px - (var(--difto-min) * 0.0768442)) calc(75px - (var(--difto-min) * 0.0768442));
	}
}
.price {
    max-width: var(--max-outer);
    min-height: 845px;
    padding: 100px 20px;
    background: var(--back-color);
    color: var(--text-color);
}
.price-items {
    max-width: var(--inner-desk);
    min-height: 505px;
    display: flex;
    flex-wrap: wrap;
	align-items: center;
    justify-content: space-between;
    gap: 25px;
}
.price-item {
    width: 450px;
    height: 505px;
    border: 3px solid #bdae82;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--back-color);
    color: var(--text-color);
}
.price-plan {
    flex: 0 0;
    height: 56px;
    margin-bottom: 20px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 56px;
    text-align: center;
}
.price-sum {
    flex: 0 0;
    height: 48px;
    margin-bottom: 20px;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    color: #bdae82;
}
.price-frame {
    flex: 0 0;
    width: 364px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.price-option {
    height: 36px;
    display: block;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
}
.price-button {
    flex: 0 0;
    width: 220px;
    height: 55px;
}
#button_standard,
#button_premium,
#button_gold {
    width: 220px;
    height: 55px;
    background-color: #bdae82;
    border: 2px solid #bdae82;
    box-sizing: border-box;
    border-radius: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: black;
    -webkit-transition: background-color 2s, color 1s;
            transition: background-color 2s, color 1s;
}
#button_standard:hover,
#button_premium:hover,
#button_gold:hover {
	color: var(--text-hover);
	background: var(--back-hover);
    -webkit-transition: background-color 2s, color 1s;
            transition: background-color 2s, color 1s;
}
@media (min-width: 769px) and (max-width: 1439px) {
	.price {
		max-width: var(--max-outer);
		min-height: calc(1905px - (var(--difto-max) * 1.5773809));
		padding: 80px 20px;
	}
	.price-items {
		max-width: var(--inner-desk);
		min-height: calc(1615px - (var(--difto-max) * 1.6517857));
		margin: 0 auto;
		align-items: center;
		justify-content: space-around;
		gap: 35px;
	}
	.price-item {
		width: calc(420px + (var(--difto-max) * 0.0446428));
		padding: 40px calc(20px + (var(--difto-max) * 0.0342261));
	}
	.price-frame {
		width: calc(380px - (var(--difto-max) * 0.0238095));
	}
}
@media (max-width: 768px) {
	.price {
		max-width: 768px;
		min-height: 1905px;
		padding: 80px 20px;
	}
	.price-items {
		max-width: 728px;
		min-height: 1615px;
		margin: 0 auto;
		padding: 0 154px;
		gap: 50px;
	}
	.price-item {
		width: 420px;
		padding: 40px 20px;
	}
	.price-frame {
		width: 380px;
	}
}
@media (min-width: 279px) and (max-width: 767px) {
	.price {
		max-width: var(--max-outer);
		min-height: 845px;
		padding: 100px 20px;
	}
	.price-items {
		margin: 0 auto;
		padding: 0 20px;
		justify-content: space-evenly;
	}
	.price-item {
		width: calc(420px - (var(--difto-min) * 0.2868852));
		padding: 20px 10px;
	}
}
.contacts {
    max-width: var(--max-outer);
    height: 700px;
    position: relative;
    background: url('./assets/img/contacts-bg.jpg');
    background-size: auto 700px;
    background-origin: border-box;
    background-position: center center;
    background-repeat: no-repeat;
}
.contact-form {
    width: 450px;
    height: 445px;
    position: absolute;
    top: 60px;
    right: 20px;
}
.contact-title {
    max-width: 450px;
    height: 80px;
    margin-bottom: 40px;
    color: #bdae82;
    text-align: left;
}
.contact-text {
    text-align: left;
    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #bdae82;
}
.form-block {
    max-width: 450px;
    height: 325px;
}
.block-input {
    max-width: 450px;
    height: 50px;
    margin-bottom: 20px;
}
#input_email,
#input_phone {
    width: 450px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #bdae82;
    box-sizing: border-box;
    padding: 0 0 0 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #bdae82;
}
.block-area {
    max-width: 450px;
    height: 100px;
    margin-bottom: 30px;
}
#area_text {
    width: 450px;
    height: 100px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #bdae82;
    box-sizing: border-box;
    padding: 3px 0 0 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: #bdae82;
    resize: none;
}
.form-button {
    max-width: 450px;
    height: 55px;
	text-align: left;
}
#button_submit {
    width: 220px;
    height: 55px;
    background-color: #bdae82;
    border: 2px solid #bdae82;
    box-sizing: border-box;
    border-radius: 0px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 40px;
    color: black;
    -webkit-transition: background-color 2s, color 1s;
            transition: background-color 2s, color 1s;
}
#button_submit:hover {
	color: var(--text-hover);
	background: var(--back-hover);
    -webkit-transition: background-color 2s, color 1s;
            transition: background-color 2s, color 1s;
}
::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
	padding: 0;
}
.footer {
    max-width: var(--max-outer);
    height: 150px;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 20px;
}
.footer-data {
    width: 182px;
    height: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 13px;
}
.footer-brand {
    width: 211px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.github,
.school {
    color: white;
    text-decoration: none;
    -webkit-transition: color 1s;
            transition: color 1s;
}
.github:hover,
.school:hover {
    color: #bdae82;
    -webkit-transition: color 1s;
            transition: color 1s;
}
.data-text,
.brand-school {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    color: white;
}
.social-list {
    width: 188px;
    height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.social-list li {
    width: 32px;
    height: 32px;
    flex: 0 0;
    padding: 0;
    margin: 0;
    list-style: none;
}
.hidden {
    display: none;
}
.svg-icon { 
	width: 32px; 
	height: 32px;
    fill: white;
    -webkit-transition: fill 1s;
            transition: fill 1s;
}
.svg-icon:hover {
    fill: #bdae82;
    -webkit-transition: fill 1s;
            transition: fill 1s;
}
.test-block {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: var(--max-outer);
    height: 75px;
    z-index: -100;
    border: 1px dotted dimgrey;
    background: transparent;
}
@media (min-width: 769px) and (max-width: 1439px) {
	.contacts {
	max-width: var(--max-outer);
    height: calc(600px + (var(--difto-max) * 0.1488095));
    background-size: auto calc(600px + (var(--difto-max) * 0.1488095));
	}
	.contact-form {
    height: calc(429px + (var(--difto-max) * 0.0238095));
	top: 60px;
    right: calc(159px - (var(--difto-max) * 0.2068452));
	}
	.contact-title {
    height: calc(64px + (var(--difto-max) * 0.0238095));
	}
	.contact-text {
    text-align: center;
	font-size: calc(32px + (var(--difto-max) * 0.0119047));
	line-height: calc(64px + (var(--difto-max) * 0.0238095));
	}
	.form-button {
	text-align: center;
	}
	@media (min-width: 1080px) {
		.contact-text {
		text-align: left;
		}
		.form-button {
		text-align: left;
		}
	}
}
@media (max-width: 768px) {
	.contacts {
	max-width: 768px;
    height: 600px;
	background-size: auto 600px;
	}
	.contact-form {
    width: 450px;
    height: 429px;
	top: 60px;
    right: 159px;
	}
	.contact-title {
    height: 64px;
	}
	.contact-text {
    text-align: center;
	font-size: 32px;
	line-height: 64px;
	}
	.form-button {
	text-align: center;
	}
	.footer {
    max-width: 768px;
    height: 190px;
    color: white;
    display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 0;
	gap: 18px;
}
	.footer-data {
    width: 174px;
    height: 24px;
	padding-right: 3px;
	}
	.footer-brand {
    width: 211px;
    height: 24px;
	}
	.data-text,
	.brand-school {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
    color: white;
	}
	.test-block {
	height: 95px;
	}
}
@media (min-width: 279px) and (max-width: 767px) {
	.contact-form {
	width: calc(450px - (var(--difto-min) * 0.4303278));
    height: 429px;
	top: 60px;
    left: calc(159px - (var(--difto-min) * 0.284836));
	}
	#input_email,
	#input_phone,
	#area_text {
	width: calc(450px - (var(--difto-min) * 0.4303278));
	}
	.footer {
    max-width: 768px;
    height: 190px;
    color: white;
    display: flex;
    flex-direction: column;
	align-items: center;
    justify-content: flex-start;
    align-items: center;
    padding: 24px 0;
	gap: 18px;
}
	.footer-data {
    width: 174px;
    height: 24px;
	padding-right: 3px;
	}
	.footer-brand {
    width: 211px;
    height: 24px;
	}
	.data-text,
	.brand-school {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 24px;
    color: white;
	}
	.test-block {
	height: 95px;
	}
}